<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Du wirst weitergeleitet&hellip;</title>
        <link rel="canonical" href="{{redirect_uri}}">
        <script>location="{{redirect_uri}}"</script>
        <meta http-equiv="refresh" content="0; url={{redirect_uri}}">
        <meta name="robots" content="noindex">
        {{ogp_meta}}
    </head>
    <body>
        <h1>Du wirst weitergeleitet&hellip;</h1><!-- TODO: this should be localised -->
        Du wirst zu <a href="{{redirect_uri}}">{{redirect_uri}}</a> weitergeleitet.
    </body>
</html>
